html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  background-color: gray;
  text-align: center;
  height: 100%;
  width: 100%;
}

.help{
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  background-color: red;
  height: 100%;
}

.info {
  display: inline-block;
  background-color: lime;
  width: 100%;
  margin-left: -7px;
}

/*  

    inline-block이니까 세로로 나열된다 div가
    여기에 div helper를 추가해서 부모의 높이 100퍼를 받고
    vertical을 middle로 해주면 중앙으로 맞춰진다. ( 부모(container 의 높이) )
    vertical은 inline, inline-block에만 된다.

*/